*{
    box-sizing: border-box;
}
body{
   
    font-family: sans-serif;
   
}
html{
    scroll-behavior: smooth;
}
.clear-fix{
clear: both;
}
/* start header bar */
.top-bar{
    position: relative;
    background-color: blue;
}
.top-bar .logo{
    display: inline-block;
   
}
.top-bar .logo a{
    text-decoration: none;
}.top-bar .logo a h4{
    color: white;
}
.top-bar .float-right{
    text-align: center;
    margin-top: 4px;
}
.top-bar .float-right a{
    color: white;
    padding-left: 5px;
    text-decoration: none;
}.top-bar .float-right a:hover{
    color: rgb(235, 231, 231);

}
@media ( min-width: 1200px){
    .top-bar{
        max-width: 100%;
    }
}
/* nav */
ul.navbar-nav{
    margin-left: 28rem;
}
nav ul li{
    display: inline-block;
    list-style: none;
    text-align: center;
    position: relative;
    display: inline-block
}
nav ul li a{
   text-decoration: none !important;
   color: #000;
   padding-left: 10px;
   font-size: 18px;
  
}
nav ul li a:hover{
    color: blue !important;
}
nav ul li a.active{
    color: blue !important;
}
.navbar{
    background-color: #f7f7f7!important;
}
@media ( max-width: 1200px){
    ul.navbar-nav{
        margin-left: 17.5rem;
    }
}
/* end  */


/* cover */
.carousel-item img{
    height:630px;
    width: 100%;
    background-attachment: fixed;
}
/* overlay */


/* header vontent */
 .header_content{
	width: 500px;
	margin:  auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	
}
.header_content h2{
	color: #00ccae;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 0px;
	
}
@media(max-width:767px){
    .header_content h2{
        font-size: 40px;
    }
}
.header_content p{
	color: #435744;
    /* font-weight: bold; */
    /* opacity: 0.9; */
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
    line-height: 1.2;
    BACKGROUND: #32323217;
}
@media(max-width:767px){
    .header_content p{
        font-size: 16px;
        
    }
}
 .header_content button{
	width: 120px;
	border: 0px;
	font-weight: bold;
	font-size: 14px;
	margin-left: 4%;
	outline: none;
	padding: 12px;
	border-radius: 15px;
	cursor: pointer;
	transition: all .005s ease-in-out;
	
}
 .header_content button:hover{
	opacity: 0.9;
	
}
.header_content button:first-child{
	background: #fff;
}
.header_content button:last-child{
	background-color: #83f9e8;
	color: #fff;

}

.header_footer{
	width: 18px;
	height: 28px;
	position: absolute;
	bottom: 110px;
	margin: auto;
	left: 50%;
	border-radius: 8px;
	border: 2px solid #fff;
}
.header_footer .scroll{
	width: 4px;
	height: 7px;
	background: #fff;
	position: relative;
	top: 1px;
	margin: auto;
	animation: scrolling 1s ease-in-out infinite;
	
	
}
@keyframes scrolling{
	0%{
		opacity: 0;
		top: 0px;
	}
	30%{
		opacity: 1;
		top: 8px;
	}
	100%{
		opacity: 0;
		top: 16px;
	}

}
/* start abou us */
.about-us h1{
    text-align: center;
    color: #4242ff;
    margin-bottom: 25px;
}
.about-us {

    color: darkgrey;
    font-size: 19px;
    line-height: 1.5;
    text-align: center;
    display: block;
    padding-bottom: 70px;
}
.about-us .row{
    margin-top: 40px;

}
@media(max-width:991px){
   .prag{
       display: none;
   }
   .about-us .info p {
    line-height: 1.2!important;
    font-size: 15px !important;
    padding: 0 !important;
   
}
.about-us .info h2{
    
    font-size: 40px !important;
   
}
}
@media(max-width:767px){
    .about-us .info p {
        display: none;
    }
    .about-us .info h2{ 
        font-size: 30px !important;
        padding: 10px !important;
    }
    .samll{
        display: none;
    }
}
@media(max-width:575px){
    .about-us .info p {
        color: #fff;
        padding: 1rem !important;
        line-height: 1.2 !important;
        font-size: 18px !important; 
        display: block !important;
       
    }
    .prag{
        display: block !important;
    }
}

.about-us .row img{
    width: 100%;
}
.about-us .info {

    background-color: #535353;
    padding: 1rem;
    transition: all .7s;
    
}
.about-us .info:hover {
       background-color: #129fff;
}
.about-us .info p {
        color: #fff;
        padding: 1rem;
        line-height: 1.2;
        font-size: 16px; 
       
    }
.about-us .info h2{
    padding: 4px;
    /* font-size: 37px; */
    padding-bottom: 4px;
    color: #fff;
}

/* start testmenia */
.testimonials{
    padding-bottom: 100px;
    padding-top: 100px;
    position: relative;
    

}
.testimonials:before{
    content: '';
    background-color:#3ea3ff;
    width: 50%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    position: absolute;

}
.testimonials:after {
    content: '';
    background-color: #333;
    width: 50%;
    height: 100%;
    margin: 0;
    top: 0;
    right: 0;
    position: absolute;
    

}
.testimonials h2{
    font-weight: bold;
    color: #000;
    margin: 0 0 47px;
    text-align: center;
    position: relative;
    font-size: 27px;
    z-index: 5;

}
.testimonials h2 span{

color: #3ea3ff;
}
.testimonials .ts-box{
    position: relative;
    z-index: 5;
    width: calc(98% / 3);
    background-color: #e4e4e4e8;
    padding: 20px;
    font-weight: bold;
    float: left;
    border-radius: 3px;
    height: 15rem;
}
.ts-box:hover {
    margin-top: -15px;
    transition: all .6s;
    box-shadow: 0 0 5px 5px #586bdab0;
}
@media(max-width:767px){
    .testimonials .ts-box{
       width: 100%;
       border-radius: 10px;
       padding: 23px;
       margin-bottom: 10px;
       border-radius: 10px;
      
    }
}
.testimonials .ts-box:not(:last-of-type){
    margin-right: 1%;
    
}
.testimonials .ts-box > p{
    line-height: 1.4;
    color: #777;
    font-size: 14px;
    margin: 0px 0 25px;
    font: italic;

}

@media(max-width:991px){
    .testimonials .ts-box > p{
        text-align: center;
        font-size: 15px;
        margin: 5px 0 25px;
        line-height: 1.3;
    }
    .testimonials .ts-box {
        height: 20rem;
    }
}
@media(max-width:767px){
    .testimonials .ts-box > p{
        text-align: left;
    }
}
.testimonials .ts-box .person-info{
overflow: hidden;
}
@media(max-width:991px){
    .testimonials .ts-box .person-info{
        text-align: center;
    }
}

.testimonials .ts-box .person-info img{
    float: left;
    margin-right: 15px;
    border-radius: 50%;
    width: 65px;
    height: 63px;
}
@media(max-width:991px){
    .testimonials .ts-box .person-info img{
        float: none;
        margin-right: 0;

    }
}
.testimonials .ts-box .person-info h3{
    margin: 7px 0px -15px;

}
.testimonials .ts-box .person-info p{
    font-size: 12px;
    line-height: 1.9;
    color: #777;
    margin: 15px 0 0;
    margin-left: 95px;

}
@media(max-width:991px){
    .testimonials .ts-box .person-info p{
        float: none;
        margin-left: 0;
        margin: 18px 0 0;

    }
}

/* end testmenia */
/* start contact */
.contact{
    background-image: url(../img/earth.png);
    
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}
@media(max-width:767px){
    .contact{
        background-image:none;
        background: #f5f5f59e;

    }
}
.contact iframe{
    text-align: center;
    width: 600px;
    height: 500px;
    border: 2px solid #454545;
    position: relative;
}

.contact .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff99;

}
.contact .container{
    z-index: 2;
    position: relative;
    margin-bottom: 55px;
}
.contact h2{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color:#3ea3ff;
    margin: 25px 0 50px;
}
@media(max-width:767px){
    .contact h2{
        margin: 5px 0 45px;
}

    
}
.contact form{
    overflow: hidden;
    max-width: 800px;
    margin: auto;
}
.contact form .left{
    float: left;
    width: 49%;

}
.contact form .right{
    float: right;
    width: 49%;
    
}
@media(max-width:767px){
    .contact form .left,
    .contact form .right{
        float: none;
        width: 100%;

    }
}

.contact form input:not([type= "submit"]),
.contact form textarea{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background-color: rgba(218, 218, 218, 0.2);
   
}
.contact form input:not([type= "submit"]):focus,
.contact form textarea:focus{
    border: 1px solid #3ea3ff;
    outline: none;
}
.contact form input{
    height: 40px;
}
.contact form textarea{
    height: 150px;
}
.contact form input[type='submit']{
    width: 100%;
    background-color: #3ea3ff;
    border: transparent;
    color: #fff;
    padding: 10px;
    outline: none;
    font-size: 18px;
    cursor: pointer;

}
.contact form input:not([type= "submit"]):focus::placeholder,
.contact form textarea:focus::placeholder{
    opacity: 0;
    transition: 0.4s;
}


/* end contact */
/* footer */

section.footer{
	padding-bottom: 8%;
	padding-top: 5%;
    background-color: #707070;
    bottom: 0;
    position: relative;
    padding-bottom: 80px;
}
section.footer .left{
	float: left;
	
	opacity: 0.9;
	
}
section.footer .left span{
	font-size: 15px;
	color: #000000;
	display: inline-block;
	padding-top: 0px;
}
section.footer .left img{
	width: 20px;
	height: 20px;
	color: #000;
	margin-bottom: 2px;
	
}
section.footer .right {
	float: right;
}
section.footer .right span{
	display: block;
	color: #000000;
	font-size: 15px;
}
section.footer .intro{
	position: relative;
}
section.footer .intro ul{
	position: absolute;
	left: 34%;
	bottom: -70px;
	display: table;
	
	text-align: center;
	overflow: hidden;
}
section.footer .intro ul li{
	list-style: none;
	float: left;
	background: none;
	border: 2px solid #fff;
	padding:22px ;
	font-size: 25px;
	color: #fff;
}
@media(max-width:991px){
    section.footer .left{
        display: none;
    }
    section.footer .intro ul{
        left: -14%;
        bottom: -77px;
    }
    
}
/* sinn in */
/* Start Sign-In-Up */

/* تسجيل الدخول */
.sign-in-up .tab {
    font-size: 18px;
    font-weight: 800;
    color: #333;
    cursor: pointer;
    margin-left: 15px;
}
@media (max-width: 420px) {
    .sign-in-up .tab {
        font-size: 15px;
    }
}

.sign-in-up .active-tab {
    position: relative;
}

.sign-in-up .active-tab:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 6px;
    background-color: #586bda;
}

.sign-in-up select,
.sign-in-up option {
    background-color: white;
}

.sign-in-up .relative-form {
    position: relative !important;
}

.sign-in-up form {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.sign-in-up label {
    color: rgb(180, 179, 179);
    font-weight: 600;
    word-spacing: 3;
}

.sign-in-up .box-input {
    height: 65px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: all .3s ease-in-out;
    position: relative;
    overflow: hidden;
    margin-bottom: 35px;
}

.sign-in-up .box-input:hover {
    box-shadow: 0 0 5px 1px #586bdab0;
}


.sign-in-up .box-input .line {
    position: absolute;
    right: 70px;
    top: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(45deg, transparent, #ccc, transparent);
    z-index: 5;
}

.sign-in-up .box-input input {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 80px 0 5px;
    z-index: 2;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    border: none;
    border-radius: 8px;
}

.sign-in-up .box-input a {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 18px 80px 0 5px;
    z-index: 2;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    border: none;
    border-radius: 8px;
}

.sign-in-up .box-input-2 {
    margin-bottom: 7px;
}

.sign-in-up .box-input-2 input {
    padding-left: 40px;
}

.sign-in-up .password {
    direction: ltr;
    width: 100%;
    color: #333;
    font-weight: 600;
    display: inline-block;
    transition: all .3s ease-in-out;
}

.sign-in-up .password:hover {
    color: #586bda;
}

.sign-in-up .box-input i {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    cursor: pointer;
    font-size: 15px;
    color: #000;
    font-size: 23px;
}

.sign-in-up .box-input .active-i {
    z-index: 33 !important;
}

.sign-in-up .submit {
    width: 100%;
    padding: 13px 0;
    border-radius: 8px;
    border: none;
    background-color: #586bda;
    color: white;
    font-size: 21px;
    word-spacing: 3;
    box-shadow: 0px 7px 7px 0px #586cda45;
    transition: all .3s ease-in-out;
}

.sign-in-up .submit:hover {
    box-shadow: none;
    transform: translate(0 , 3px);
}

.sign-in-up .text {
    color: #333;
    font-size: 21px;
    font-weight: 800;
}
@media (max-width: 576px) {
    .sign-in-up .text {
        font-size: 18px;
    }
}

.sign-in-up .text span {
    color: #46acff;
}

.sign-in-up .alert {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    word-spacing: 1.2;
    color: #586bda;
    border-radius: 8px;
    background-color: #007bff15;
    padding: 15px 0;
    border: 2px solid #586bda;
}

.sign-in-up .alert span {
    font-size: 33px;
    color: red;
    font-weight: bold;
    margin-left: 8px;
}
@media (max-width: 768px) {
    .sign-in-up .alert {
        font-size: 17px;
    }
    
    .sign-in-up .alert span {
        font-size: 22px;
    }
}
@media (max-width: 500px) {
    .sign-in-up .alert {
        font-size: 16px;
    }
    
    .sign-in-up .alert span {
        font-size: 20px;
    }
}
@media (max-width: 400px) {
    .sign-in-up .alert {
        font-size: 13px;
    }
    
    .sign-in-up .alert span {
        font-size: 16px;
    }
}

.sign-in-up select {
    border-radius: 8px;
    width: 98% !important;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.sign-in-up .place-form select,
.sign-in-up .place-form input {
    padding-right: 18px !important;
}

.sign-in-up .title {
    color: #333;
    font-size: 27px;
    font-weight: bold;
}

.sign-in-up .title img {
    margin-left: 12px;
    width: 60px;
    height: 60px;
}

.sign-in-up h3 {
    font-weight: 600;
    word-spacing: 5;
}

.sign-in-up p {
    color: rgb(153, 152, 152);
    font-weight: bold;
    word-spacing: 3;
}
@media (max-width: 500px) {
    .sign-in-up h3 {
        font-size: 23px;
    }
    .sign-in-up p {
        font-size: 14px;
    }
}

.sign-in-up .box-number {
    height: 65px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: all .3s ease-in-out;
    position: relative;
    overflow: hidden;
}
@media (max-width: 576px) {
    .sign-in-up .box-number {
        height: 50px;
    }
}
@media (max-width: 400px) {
    .sign-in-up .box-number {
        height: 35px;
    }
}

.sign-in-up .box-number:hover {
    box-shadow: 0 0 5px 1px #586bdab0;
}

.sign-in-up .box-number input {
    border: none;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    color: #333;
    font-weight: bold;
}
@media (max-width: 400px) {
    .sign-in-up .box-number input {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .sign-in-up .row .col {
        padding-left: 0 !important;
    }
}

.sign-in-up .text-send {
    font-size: 16px;
}

.sign-in-up .text-send a {
    margin-right: 10px;
}

/* End Sign-In-Up */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  
  
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
/* card */

